{% extends 'base.html' %}

{% block title %}Dashboard Administrativo{% endblock %}
{% block header %}
    <img src="{{ url_for('static', filename='img/user.png') }}" alt="Foto del Usuario" height="20" width="20"> |
    <a href="#">Mis datos</a> |
    <a href="{{ url_for('logout') }}">Salir de mi Cuenta</a> <br>
    {% if usuario %}
        <p style="text-align: right; padding-top: 5px">Hola <strong style="color: red;">
            {% if tipo == '2' %} Administrador {% endif  %}
            {% if tipo == '3' %} Súper Administrador {% endif  %}
        </strong> <strong style="color: green;">{{ usuario }}</strong></p>
    {% endif %}
{% endblock %}

{% block contenido %}
<div style="text-align: center;">
    <h2>DASHBOARD ADMINISTRATIVO {% if tipo == '3' %} [Súper Admin] {% endif  %}
    </h2>
</div> <br>

<table align="center" style="width: 80%;">
    <tr>
        <td style="width: 50%;">
            <p><strong style="font-size: large;">Administración de Usuarios</strong> (Total registros: {{'0' if listausuarios == None else listausuarios|length}})</p>
        </td>
        <td align="center" style="width: 10%;">  </td>
        <td align="right" style="width: 40%;">
            <a href="#">Exportar seleccionados</a>
        </td>
    </tr>
</table>
<table align="center" style="width: 80%; border: solid; font-size:small">
    <tr style="background-color: gainsboro;">
        <th align="center">
            <div>
                <input type="checkbox">
            </div>
        </th>
        <th>
            <span>Nombres<br>Apellidos</span>
        </th>
        <th>
            <span>TipoID<br>Número ID</span>
        </th>
        <th>
            <span>Usuario</span>
        </th>
        <th>
            <span>País</span>
        </th>
        <th>
            <span>Email</span>
        </th>
        <th>
            <span>Actividad</span>
        </th>
        <th>
            <span>Datos</span>
        </th>
    </tr>
    <form action="{{ url_for('administrausuario') }}" method="post", name="administrarusuario">
        {% if listausuarios %}
            {% for users in listausuarios %}
                <tr>
                    <td align="center">
                        <div>
                            <input type="checkbox">
                        </div>
                    </td>
                    <td>
                        <span>{{users[1]}}<br>{{users[2]}}</span>
                    </td>
                    <td>
                        <span>{{users[3]}}<br>{{users[4]}}</span>
                    </td>
                    <td>
                        <span>{{users[0]}}</span>
                    </td>
                    <td align="center">
                        <span>{{users[5]}}</span>
                    </td>
                    <td>
                        <span>
                            <a href="mailto:{{users[6]}}?bcc=forever21uninortemintic@gmail.com&subject=Contacto%20desde%20ForEver%2021">{{users[6]}}</a>
                        </span>
                    </td>
                    <td align="center">
                        <span><a href="#">Ver Actividad</a></span>
                    </td>
                    <td align="center">
                        <button type="submit" name="inputalias" value="{{users[0]}}" class="link-button">Editar datos</button>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </form>
</table>


<br><br>

<table align="center" style="width: 80%;">
    <tr>
        <td style="width: 50%;">
            <p><strong style="font-size: large;">Gestión de Productos</strong> (Total registros: {{'0' if listaproductos == None else listaproductos|length}})</p>
        </td>
        <td align="center" style="width: 10%;">  </td>
        <td align="right" style="width: 20%;">
            <form action="{{ url_for('agregarproducto') }}" method="post", name="agregarproducto">
                <button type="submit" value="agregarproducto" style="font-size: large;">Agregar Producto</button>
            </form>
        </td>
        <td align="right" style="width: 20%;">
            <a href="#">Exportar seleccionados</a>
        </td>
    </tr>
</table>
<table align="center" style="width: 80%; border: solid; font-size:small">
    <tr style="background-color: gainsboro;">
        <th align="center">
            <div>
                <input type="checkbox">
            </div>
        </th>
        <th>
            <span>SKU / ID Producto</span>
        </th>
        <th>
            <span>Nombre<br>Producto</span>
        </th>
        <th>
            <span>Calificación<br>Promedio</span>
        </th>
        <th>
            <span># Unidades<br>en inventario</span>
        </th>
        <th>
            <span>Editar</span>
        </th>
        <th>
            <span>Eliminar</span>
        </th>
        <th>
            <span>Comentarios</span>
        </th>
    </tr>

    <form action="{{ url_for('administrarproducto') }}" method="post", name="administrarproducto">
        {% if listaproductos %}
            {% for produ in listaproductos %}
                <tr>
                    <td align="center">
                        <div>
                            <input type="checkbox">
                        </div>
                    </td>
                    <td>
                        <span>{{produ[0]}}</span>
                    </td>
                    <td>
                        <span>{{produ[1]}}</span>
                    </td>
                    <td align="center">
                        <span> {{'0' if produ[3] == None else '{0:0.2f}'.format(produ[3])}} </span>
                    </td>
                    <td align="center">
                        <span>{{produ[2]}}</span>
                    </td>
                    <td align="center">
                        <span><a href="{{ url_for('editarproducto') }}">Editar</a></span>
                    </td>
                    <td align="center">
                        <span>
                            {% if produ[2] == 0 %}
                                <a href="{{ url_for('eliminarproducto') }}">Eliminar producto</a>
                            {% else %}
                                Existencias en Bodega
                            {% endif %}
                        </span>
                    </td>
                    <td align="center">
                        <span>
                            {% if produ[4] == 0 %}
                                No hay comentarios
                            {% else %}
                                <a href="#">Ver Comentarios</a>
                            {% endif %}
                        </span>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </form>
</table>
<br><br>

{% endblock %}






