{% extends 'base.html' %}

{% block title %}Actividad de Usuario{% endblock %}
{% block header %}
    <img src="{{ url_for('static', filename='img/user.png') }}" alt="Foto del Usuario" height="20" width="20"> |
    <a href="#">Mis datos</a> |
    <a href="{{ url_for('logout') }}">Salir de mi Cuenta</a> <br>
    {% if usuario %}
        <p style="text-align: right; padding-top: 5px">
            <strong style="color: green;">{{ usuario }}</strong> [
            <strong style="color: red;">
                {% if tipo == '2' %} Administrador {% endif  %}
                {% if tipo == '3' %} Súper Adm {% endif  %}
        </strong>] - <a href="{{ url_for('admin_in') }}">Ir al Dashboard</a> </p>
    {% endif %}
{% endblock %}

{% block contenido %}

<h2 style="font-weight: bold; text-align: center;">AGREGAR UN PRODUCTO</h2>

<form action="{{ url_for('guardarproducto') }}" method="post", name="guardarproducto" autocomplete="off" enctype="multipart/form-data">
    <table align="center" style="width: 70%; text-align:left; border:solid; border-radius: 3%;">
        <tr> <td> <br> </td></tr>
        <tr>
            <td  style="font-weight: bold;">{{ form.nomprod.label  }}</td>
            <td> {{ form.nomprod   }} </td>
            <td rowspan="6" align="center">
                <img src="/static/prod/agregarproducto.jpg" alt="Agregar foto de Producto" width="200" style="border-radius: 3%; border-color: darkgrey; border-style: groove; ">
            </td>
        </tr>
        <tr>
            <td  style="font-weight: bold;">{{ form.talla.label  }}</td>
            <td> {{ form.talla   }} </td>
        </tr>
        <tr>
            <td  style="font-weight: bold;">{{ form.color.label  }}</td>
            <td> {{ form.color   }} </td>
        </tr>
        <tr>
            <td  style="font-weight: bold;">{{ form.material.label  }}</td>
            <td> {{ form.material   }} </td>
        </tr>
        <tr>
            <td  style="font-weight: bold;">{{ form.invent_inicial.label  }}</td>
            <td> {{ form.invent_inicial   }} </td>
        </tr>
        <tr>
            <td  style="font-weight: bold;">{{ form.descripcion.label  }}</td>
            <td> {{ form.descripcion(cols="35", rows="10")}} </td>
        </tr>
        <tr>
            <td></td>
            <td align="center">
                <button type="submit" name="AgregarProducto" value="AgregarProducto">Agregar Producto</button>
                <button type="submit" name="AgregarProducto" value="Cancelar">Cancelar</button>
            </td>
            <td align="center">
                <input type="file" name="subir_foto" accept="image/png, .jpeg, .jpg, image/gif">
            </td>
        </tr>
    </table> <br><br>
</form>

{% endblock %}
